/* Add styles to handle fixed navbar and padding for the main content */
body {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.AppBar {
    position: fixed;
    width: 100%;
}

.Container {
    margin-top: 64px; /* Adjust based on AppBar height */
    padding: 16px;
}

.user-cursor {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 12px;
    position: absolute;
    pointer-events: none;
    z-index: 10;
}
